.buy_container{
    margin: 50px 12rem;
    max-width: 1400px;
}
.buy_title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.buy_ul{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr .3fr;
    list-style: none;
    font-weight: 700;
    margin: 1rem 0;
}
.buy_detail{

}
.buy_ll{

}
.cart_item_buy {

}
.cart_img_buy{
    width: 160px;
}
.cart_item_title_buy{

}
.cart_price_buy{

}
.cart_num_buy{

}
.cart_remove_buy{

}
.buy_empty{

}
.buy_logic{

}
.buy_total{

}
.buy_total_cash{

}