.buy_container{
    margin: 50px 12rem;
    max-width: 1400px;
}
.buy_title{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.buy_ul{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr .3fr;
    list-style: none;
    font-weight: 700;
    margin: 1rem 0;
}
.buy_detail{

}
.buy_ll{

}
.cart_item_buy {

}
.cart_img_buy{
    width: 160px;
}
.cart_item_title_buy{

}
.cart_price_buy{

}
.cart_num_buy{

}
.cart_remove_buy{

}
.buy_empty_max{
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.buy_empty{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.buy_empty_title{
    font-size: 2rem;
}
.buy_empty_btn{
    background: $gradiente;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 1rem;
    border-radius: 14px;
    margin: 1rem 0;
    transition: .3s;
}
.empty{
    width: 500px;
    border-radius: 100px;
    padding: 2rem;
    background-color: #0f4e6823;
}
.buy_empty_btn:hover{
    transform: scale(1.2);
}
.buy_logic{

}
.buy_total{

}
.buy_total_cash{

}