*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body{
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
 a{
  text-decoration: none;
}
 a:visited {
  text-decoration: none;
}
.link{
  text-decoration: none;
  color: $gradiente2;
  font-weight: 700;
  transition: ease-in-out .2s;
}
.link:hover{
  color: $BudgetGre;
}


.title_contain{
  margin: 7vh 5vh;
  a {
    color: $BudgetGre;
  }
  a:hover{
    color: $BudgetBlu;
    transition: .4s;
  }
}
.title_sub{
  margin-bottom: 1rem;
  
}
.title_section {
  display: inline;
  font-size: 1.5rem;
  margin-right: 1rem;
  text-align: left;
  @media (min-width: 1400px) {
    width: 100%;
    max-width: 600px;
  }
}

.sub {
  display: flex;
  flex-direction: column-reverse;
  height: 1rem;
  background: $gradiente;
  width: fit-content;
}