*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body{
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
 a{
  text-decoration: none;
  color: $BudgetGre;
  font-weight: 700;
}
 a:visited {
  text-decoration: none;
}
 a:hover{
  color: $BudgetBlu;
  transition: .4s;
}
.title_contain{
  display: inline-block;
  height: 4rem;
  width: 100%;
  margin: 20px 2rem;
  a {
    color: $BudgetGre;
  }
  a:hover{
    color: $BudgetBlu;
    transition: .4s;
  }
}

.title_section{
  font-size: 1.5rem;
  text-align: left;
  @media (min-width: 1400px) {
    width: 100%;
    max-width: 600px;
}
}
.sub{
  height: 1rem;
  background: $gradiente;
}
