.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    background: $gradiente;
    margin-bottom: 0;

  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col .footer_title {
    margin: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col .footer_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer_a{
    text-decoration: none;
    color: #fff;
  }
  .footer .col .footer_ul .footer_li {
    font-size: 15px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  .footer_a:hover{
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    transition: .3s;
  }
  .footer .col ul li:hover {
    color: #fff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      display: flex;
      flex-direction: row;
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h2 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .send_container{
        margin: 20px;
        }
    .footer .col {
      width: 33%;
    }
    .footer .col h2 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
    .send_container{
        margin: 20px;
        }
      .footer .col {
        width: 50%;
      }
      .footer .col h2 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
}


.send_container{
    padding: 20px 0px 5px 0px;
    display: inline-block
}

.input_send {
    border-radius: 3px 0 0 3px;
    border: 1px solid #e1e1e1;
    height: 40px;
    padding: 0 70px 0 15px;
    width: 100%;
    background: white no-repeat;
    background-image: linear-gradient(to bottom, rgba(0,176,185,1) 0%,  rgba(0,185,16,1)100%), linear-gradient(to bottom, #e1e1e1, #e1e1e1);
    background-size: 0 2px, 100% 1px;
    background-position: 50% 100%, 50% 100%;
    transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    &:focus {
    background-size: 100% 2px, 100% 1px;
    outline: none;
    }
}
.button_send {
    height: 40px;
    border-radius: 0 3px 3px 0;
    background: $BudgetBlu;
    border: 0;
    color: #fff;
    cursor: pointer;
    padding: 13px 20px;
    position: relative;
    right: 0px;
    top: 0px;
    @media (max-width: 700px) {
        position: relative;
    }
    .fa_send {
    display: block;
    }
}

.send_label{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row-reverse;
}

.send_title{
    color: #fff;
    font-size: 1rem;
}
.send_copy{
    color: #fff;
    font-size: .8rem;
    margin: .8rem 0;
    text-align: left;
}

.social{
    margin: 20px 0px 5px 0px;
}
.social_svg{
    color: #f0f0f0;
    font-size: 2rem;
    margin: .8rem .1rem;
}

.social_svg:hover{
    transition: .3s;
    scale: 1.1;
}

