.info_img {
  object-fit: contain;
  width: 500px;
  height: 500px;
}


.info_info {
  // margin: 2vh 20vh;
  max-width: 400px;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start; /* Alinear los elementos al inicio verticalmente */
}

.info {
  display: flex;
  flex-direction: row;
  margin: 2vh;
  gap: 10rem;
  align-items: center;
}

.info_name {
  font-size: 2rem;
  margin-top: 2rem;
  
}

.info_copy {
  margin: 1rem 0;
}

.info_price {
  text-align: center;
  width: fit-content;
  padding: 0.5rem;
  border-radius: 14px;
  font-size: 1.3rem;
  margin-top: auto; /* Moverlo hacia la parte inferior */
}

.info_prices {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
  width: 300px;
  padding: 1rem 0;
  border-left: solid 10px $BudgetBlu;
}
.info_mp{
  font-size: 1.3rem;
  margin-left: 0.5rem;
}

.cart_text {
  color: #fff;
  font-size: 1.4rem;
}

.cart_icon {
  color: #fff;
  font-size: 1.4rem;
  margin: 0 1rem;
}

/* Media query para dispositivos con ancho máximo de 600px */
@media (max-width: 600px) {
  .info_info {
    margin: 3rem;
  }

  .info {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
    margin: auto ;
  }

  .info_img {
    height: auto;
    max-width: 100%;
    padding: 10%;
  }

  .info_name {
    font-size: 1.6rem;
  }

  .info_price {
    font-size: 1.4rem;
  }
}

.info_description{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1.4rem;
}

.info_description {
  background-color: #cacaca86;
  border-radius: 1rem;
  padding: 1rem;
}

.info_name {
  /* Estilos para el nombre */
}

.info_description_text {
  /* Estilos para la descripción */
}

.caracteristicas {
  background-color: #fff;
  padding: 1rem;
  border-left: solid 10px $BudgetBlu;
  border-radius: 0 1rem 1rem 0;
  /* Estilos para el contenedor de características */
}

.carac_title {
  font-size: 1.4rem;
}

.carac_items {
  list-style: none;
  padding: 1rem;
  /* Estilos para la lista de características */
}

.carac_item {
  margin: .5rem 0;
}


.item_detail_cnt{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 100vh;
}
.buy_button{
  color: #fff;
  background: $gradiente;
  padding: 1rem;
  border-radius: 1rem;
}
.buy_button:hover{
  scale: 1.02;
  transition: ease-in-out .3s;
}