$menucolour:#000000;
$BudgetGre: #00b80f;
$BudgetBlu: #00aeb8;
$gradiente2: rgb(2,0,36);
$color-text: #555;
$shadow: 2px 9px 49px -17px rgba(0,0,0,0.3);
$gradiente: linear-gradient(90deg, rgba(2,0,36,1) 0%,  rgba(0,176,185,1) 0%,  rgba(0,185,16,1)100%);


